# Project exclude paths
.idea
logs
text.txt
*.iml

/common-jpa/target/
/common-rabbitmq/target/
/common-utils/target/
/dispatcher/target/
/mail-service/target/
/node/target/
/rest-service/target

/common-jpa/src/main/resources/application.properties
/common-rabbitmq/src/main/resources/application.properties
/dispatcher/src/main/resources/application.properties
/node/src/main/resources/application.properties
/rest-service/src/main/resources/application.properties